html
  head
    title= 'Wunder-challenge'
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css")

  body
    div#root
    script(src="./vendor.js")
    script(src="./app.js")
